pokemons

<ul style="list-style-type: none; padding: 0; text-align: left;">
    @for(Poke of pokeList; track $index){
        <li style="margin-bottom: 20px; display: flex; align-items: center;">
            <img src="{{Poke.imageUrl}}" alt="pokemons image" style="width: 100px; height: 100px; margin-right: 20px;">
            <div style="display: flex; flex-direction: column;">
                <span style="font-weight: bold;">{{Poke.name}}</span>
                <span>{{Poke.id}}</span>
            </div>
        </li>
    }
</ul>

